<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Modules" value=""/>
		<add key="NewVersionServer" value=""/>
		<add key="EnableDiagnosticActions" value="False"/>
		<!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="ApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		-->
	</appSettings>
	<connectionStrings>
 <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=11accbaf-8e85-495f-bddf-824184075392EasyTest"/>
<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=11accbaf-8e85-495f-bddf-824184075392"/>
</connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3"/>
			<!--
			<add name="XPO" value="3" />
			-->
		</switches>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
